
  
  
    
   
   <div  class="container-fluid">
      
      <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h2 class="" >CONTACTANOS</h2>
      
      <h6 class=""> hello world i´m here in this beautifull page </h6>
      </div>
      </div>
      <br>
      
      <div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <form class=" ">
        <div  class="form-group ">
          <label class="" for=""><h5>Nombre:</h5></label>
          <input type ="text" id="NombreyAp" class="form-control heightform" placeholder="username">
        </div>
  
        <div class="form-group ">
          <label for=""><h5>Correo Electronico:</h5></label>
          <input type ="text" id="Email" class="form-control heightform" placeholder="example@gmail.com">
        </div>
  
        <div class="form-group"> 
          <label class="" for=""><h5>Mensaje:</h5></label>
          <br>
          <textarea id="messagebody" class=" form-control"> </textarea>
          <br>
          <br>
          <div class="text-right">
            <Button class="btn btn-info btn-lg  widthbuton" type="submit">Enviar</Button>
            
          </div>
        </div>
      
      </form>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" ></div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <app-carousel></app-carousel>
      </div>
     <!-- <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" ></div>-->
    
  </div>
  </div>
    
  
  